*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
h1{
    font:35px 5000;
} 

.titulo1{
    background:  rgb(0, 174, 255);
   padding: 17px;
}

body{
    text-align: center;
    
}
div{
    margin: 20px;
    border: 1px solid black;
  
}


    .menu{
background: rgb(238, 255, 83);
       padding: 10px;
       font-weight: unset;
    }
    .cl{
        padding: 9px;
    }
    .menu li{
        list-style: none;
        padding: 10px;
        display: inline-block;
        border: 1px solid black;
    }
    .roman{
        text-align: center;
              
    }
    .imgt{
        padding: 80px;
    }
   
    .rgs{ 
        background: rgb(255, 229, 114);
        padding: 10px;
        font-weight: unset;
    }
    .rgs li{
        list-style: none;
        display: inline-block;
    }

    article{
        padding: 15px;
        border: 1px solid black;
        margin: 20px;
        margin-left: 100px;
        margin-right: 100px;
        background: #ffff7488

    }
 img{
     width: 100;
 }